In [3]:
list=["1","@","#3"]
list.insert(3,"0")
print(list)

['1', '@', '#3', '0']

In [6]:
list=["1","@","#3"]
list.reverse()
print(list)

['#3', '@', '1']

In [15]:
set1={"!","@","3","4"}
set1.add("7")
print(set1)

{'3', '7', '4', '!', '@'}

In [16]:
x=["!","3","&"]
y=set(x)
print(y)

{'3', '!', '&'}

In [20]:
x=("!","3","&")
y=list(x
print(y)

<class 'TypeError'>: 'list' object is not callable

In [21]:
tuple=("1","@","4","5")
set=set(tuple)
print(set)

{'1', '@', '5', '4'}

In [36]:
list=["1","2","3","1","4","3"]
uniquelist=[ ]
for item in list:
    if item not in uniquelist:
        uniquelist.append(item)
print(uniquelist)

['1', '2', '3', '4']

In [45]:
list=["1","2","3","1","4","3"]
uni=[ ]
for item in list:
    if item not in uni:
        uni.append(item)
print(uni)

['1', '2', '3', '4']

In [50]:
my_list=["1","2","3","1","4","3"]
uni=set(my_list)
print(uni)

<class 'TypeError'>: 'set' object is not callable

In [51]:
my_list = [1, 2, 3, 1, 4, 3]
my_set = set(my_list)
print(my_set)

<class 'TypeError'>: 'set' object is not callable

In [52]:
list=["10","20","30","40","50"]
list.insert(2,"25")
print(list)

['10', '20', '25', '30', '40', '50']

In [54]:
my_list = [1, 2, 3, 1, 4, 3]
my_list.sort()
print(my_list)

[1, 1, 2, 3, 3, 4]

In [62]:
list=[1,2,9,5,3,0]
list.sort()
new=list[-2]
print(new)

5

In [63]:
list=["90","20","60","40","50"]
list.sort(reverse=True)
new=list[3]
print(new)

40

In [64]:
tuple=("apple","banaba","cherry")
(red,yellow,pink)=tuple
print(red)
print(yellow)
print(pink)

apple
banaba
cherry

In [69]:
list=["90","20","60","40","50"]
max1=max(list)
print(max1)
list.remove(max1)
max2=max(list)
print(max2)

90
60

In [71]:
tuple=("apple","banaba","cherry")
t=tuple[::-1]
print(t)

('cherry', 'banaba', 'apple')

In [73]:
list=["90","20","60","40","50"]
list[1]=[4,6]
print(list)

['90', [4, 6], '60', '40', '50']

In [80]:
my_tuple=(1,[2,3],4)
my_list=list(my_tuple)
mylist[1]=[5,6]
my_tuple=tuple(my_list)
print(my_tuple)

<class 'TypeError'>: 'list' object is not callable

In [81]:
my_tuple = (1, [2, 3], 4) 
temp_list = list(my_tuple) 
temp_list[1] = [5, 6] 
my_tuple = tuple(temp_list)
print(my_tuple)

<class 'TypeError'>: 'list' object is not callable

In [83]:
my_tuple = (1, [2, 3], 4)
my_tuple[1][0]=5
my_tuple[1][1]=6
print(my_tuple)

(1, [5, 6], 4)

In [93]:
my_set={"1","5","2","4","1"}
unique=set()
for x in my_set:
    if x not in unique:
        unique.add(x)
        print(x)
    else:
        print("no")

<class 'TypeError'>: 'set' object is not callable

In [97]:
my_list = ["1", "2", "4", "5"]
unique = list() # Initialize an empty set to track unique elements 
for x in my_set:
    if x not in unique: # Check if the element is not in the set
        print(x) 
        unique.add(x) # Add the element to the set
    else: 
        print("no")

<class 'TypeError'>: 'list' object is not callable

In [98]:
mylist=["1","2","2","3","4","4","5"]
unique_set=set(mylist)
print(unique_set)

<class 'TypeError'>: 'set' object is not callable

In [101]:
x=["1","2","3","3","4","4","5","1"]
newset=set(x)
my_tuple=tuple(newset)
print(my_tuple)

<class 'TypeError'>: 'set' object is not callable