In [4]:
thistuple=("apple",)
print(type(thistuple))

<class 'tuple'>

In [5]:
thistuple=("apple","banana","green","kiwi","orange")
print(len(thistuple))

5

In [6]:
x=("apple","banana","green","kiwi","orange")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'green', 'kiwi', 'orange')

In [7]:
x=("apple","banana","green","kiwi","orange")
y=list(x)
y[2:4]=["watermelon","jackfruit"]
x=tuple(y)
print(x)

('apple', 'banana', 'watermelon', 'jackfruit', 'orange')

In [8]:
x=("apple","banana","green","kiwi","orange")
y=list(x)
y[1:2]=["watermelon","jack"]
x=tuple(y)
print(x)

('apple', 'watermelon', 'jack', 'green', 'kiwi', 'orange')

In [11]:
x=("apple","banana","green","kiwi","orange")
y=list(x)
y[2:4]=["watermelon"]
x=tuple(y)
print(x)

('apple', 'banana', 'watermelon', 'orange')

In [12]:
x=("apple","banana","green","kiwi","orange")
y=list(x)
y.append("watermelon")
x=tuple(y)
print(x)

('apple', 'banana', 'green', 'kiwi', 'orange', 'watermelon')

In [17]:
x=("apple","banana","green","kiwi","orange")
y=list(x)
y.pop(1)
x=tuple(y)
print(x)

('apple', 'green', 'kiwi', 'orange')

In [20]:
x=("apple","banana","green","kiwi","orange")
(red,green,*black)=x
print(green)
print(red)
print(black)

banana
apple
['green', 'kiwi', 'orange']

In [22]:
x=("apple","banana","green","kiwi","orange")
for i in range(len(x)):
    print(x[i])

apple
banana
green
kiwi
orange

In [23]:
x=("apple","banana","green","kiwi","orange")
i=0
while i<len(x):
    print(x[i])
    i=i+1

apple
banana
green
kiwi
orange

In [25]:
x=("apple","banana","green","kiwi","orange")
y=("ape","ban","grn","ki","ora")
z=x+y
print(z)

('apple', 'banana', 'green', 'kiwi', 'orange', 'ape', 'ban', 'grn', 'ki', 'ora')

In [27]:
x=("apple","banana","green","kiwi","orange")
print(x*3)

('apple', 'banana', 'green', 'kiwi', 'orange', 'apple', 'banana', 'green', 'kiwi', 'orange', 'apple', 'banana', 'green', 'kiwi', 'orange')

In [30]:
x={"apple","banana","green","kiwi","orange"}
y={"ape","ban","grn","ki","ora"}
x.update(y)
print(x)

{'banana', 'ban', 'ape', 'ki', 'green', 'apple', 'kiwi', 'ora', 'orange', 'grn'}

In [32]:
y={"ape","ban","grn","ki","ora"}
y.add("dee")
print(y)

{'ban', 'ape', 'dee', 'ora', 'ki', 'grn'}

In [34]:
y={"ape","ban","grn","ki","ora"}
y.remove("ban")
print(y)

{'ape', 'ora', 'ki', 'grn'}

In [39]:
y={"ape","ban","grn","ki","ora"}
y.pop()
print(y)

{'ape', 'ora', 'ki', 'grn'}

In [40]:
y={"ape","ban","grn","ki","ora"}
y.clear()
print(y)

set()

In [42]:
y=("ape","ban","grn","ki","ora")
del y
print(y)

<class 'NameError'>: name 'y' is not defined

In [50]:
set1={"a","b","c","d"}
set2={"1","b","c","4"}
set3=set1.union(set2)
print(set3)

{'c', 'b', 'a', 'd', '1', '4'}

In [47]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set3=set1.intersection(set2)
print(set3)

{'a', 'd'}

In [48]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set3=set1.difference(set2)
print(set3)

{'c', 'b'}

In [49]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set3=set1.symmetric_difference(set2)
print(set3)

{'c', 'b', '3', '2'}

In [51]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set3=set1 & set2
print(set3)

{'a', 'd'}

In [52]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set1.symmetric_difference_update(set2)
print(set1)

{'c', 'b', '3', '2'}

In [53]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set1.difference_update(set2)
print(set1)

{'c', 'b'}

In [56]:
set1={"a","b","c","d"}
set2={"a","2","3","d"}
set1.intersection_update(set2)
print(set1)

{'a', 'd'}

In [3]:
set1={"a","b","c","d"}
set1.add("v")
print(set1)

{'c', 'b', 'a', 'd', 'v'}

In [5]:
set1={"a","b","c","d"}
set1.clear()
print(set1)

set()